.calcs {
  padding: 5px 45px;
  margin: 0;
  overflow: hidden;
  @media screen and (max-width: $vtablet-width) {
    padding: 0;
  }
}
.calcs__title {
  text-transform: uppercase;
  font-family: Arial, sans-serif;
  font-size: 32px;
  color: $h2;
  margin-top: 0;
  @media screen and (max-width: $vtablet-width) {
    font-size: 20px;
  }
}
.calcs__scale {
  margin-top: 35px;
}
