.first-screen {
  background-image: url("../imgs/header_bg.jpg");
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  min-height: 600px;
  position: relative;
  @media screen and (max-width: $desktop-width) {
    min-height: 450px;
  }
  @media screen and (max-width: $tablet-width) {
    min-height: 350px;
  }
  @media screen and (max-width: $vtablet-width) {
    min-height: 200px;
  }

}