
.header-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: rgba(33, 33, 33, 0.25);
  padding: 0 15px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
.header-top__title {
  color: #fff;
  font-family: Arial, sans-serif;
  font-weight: 900;
  font-size: 15px;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  @media screen and (max-width: $vtablet-width) {
    text-align: center;
    letter-spacing: 0;
    width: 100%;
  }
}
.header__socials.socials {
  @media screen and (max-width: $vtablet-width) {
    display: none;
  }
}

.header__socials a {
  color: #fff;
}