.main {
  position: relative;
  z-index: 10;
}
.main__wrapper {
  margin: -75px auto 0;
  max-width: 1500px;
  background-color: #fff;
  box-shadow: 0 0 62px rgba(12, 12, 12, 0.13);
  box-sizing: border-box;
  padding: 40px 0;
  @media screen and (max-width: $desktop-width) {
    margin: 0;
  }
  @media screen and (max-width: $vtablet-width) {
    padding: 25px 15px;
    margin: 0;
  }
}
