$base-color: #8a8a8a;
$bg: #fff;
$pink: #e70067;
$blue: #3753da;
$h2: #0d2e57;
$scale: #3753da;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$vtablet-width: 768px;
$tablet-width: 1024px;
$desktop-width: 1280px;
$wide-width: 1921px;

